<button type="button" routerLink="/todo/add">Neues TODO-Item erstellen</button>
<p-table [value]="todos">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th>Benutzer</th>
      <th>Status</th>
      <th>Erstellt</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-todo>
    <tr>
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>
      <td>{{ todo.user }}</td>
      <td>{{ todo.status }}</td>
      <td>{{ todo.startDate }}</td>
    </tr>
  </ng-template>
</p-table>
