<h2>Neues todo hinzufügen</h2>
<form (submit)="onSubmit()" #todoForm=ngForm>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" required [(ngModel)]="newTodo.title" name="title">
  </div>
  <div>
    <label for="description">Beschreibung:</label>
    <textarea id="description" required [(ngModel)]="newTodo.description" name="description"></textarea>
  </div>
  <div>
    <label for="startDate">Start:</label>
    <input type="date" id="startDate" required [(ngModel)]="newTodo.startDate" name="startDate">
  </div>
  <div>
    <label for="endDate">Ende:</label>
    <input type="date" id="endDate" required [(ngModel)]="newTodo.endDate" name="endDate">
  </div>
  <button type="submit">Speichern</button>
</form>
