<h2>Neues todo hinzufügen</h2>
<form (submit)="onSubmit()" #todoForm=ngForm>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" required [(ngModel)]="newTodo.title" name="title" pInputText>
  </div>
  <div>
    <label for="description">Beschreibung:</label>
    <textarea id="description" required [(ngModel)]="newTodo.description" name="description" pInputTextarea></textarea>
  </div>
  <div>
    <label for="startDate">Start:</label>
    <p-calendar id="startDate" [(ngModel)]="newTodo.startDate"></p-calendar>
  </div>
  <div>
    <label for="endDate">Ende:</label>
    <p-calendar id="endDate" [(ngModel)]="newTodo.endDate"></p-calendar>
  </div>
  <button type="submit">Speichern</button>
</form>
